* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  all: unset;
  cursor: pointer;
}

/* 컬러 */
:root {
  --white: #ffffff;
  --default-color: #272829;
  --heading-color: #45505b; 
  --accent-color: #0563bb;
}
/* 폰트 */
body {
  font-family: 'Pretendard', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: var(--default-color);
}

